*.pyc
*.log
*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/
arches_portico.egg-info
arches_portico/logs
arches_portico/export_deliverables
arches_portico/cantaloupe/*
arches_portico/staticfiles
arches_portico/media/packages
node_modules
arches_portico/media/build/*
arches_portico/uploadedfiles/*
arches_portico/settings_local.py
webpack/webpack-stats.json
.vscode/
CACHE
nohup.out