.v5-splash-navbar{
    height: 150px;
    background-color: rgba(0, 60, 105, 1);
    transition: background-color 0.3s ease;
    border-bottom: 5px solid #bed600;
}

.v5-splash-navbar.is-scrolled {
    background-color: rgba(0, 60, 105, 1);
}

.lp-navbar-links-container li a{
    font-size: 0.9rem;
}

.navbar-header{
    margin-top: 15px;
}

.nav-brand-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand-v5-icon-container{
    height: 100%;
    margin-left: 50px;
    position: static;
}

.navbar-brand-v5-icon{
    width: 150px;
    height: auto;
}

h1{
    color: white;
    font-size: 3rem;
}

.app-info-block.intro-section h2 {
    font-size: 2rem;
    color: white;
}

.useful-links-list {
    list-style: none;  
    padding: 0;
    margin: 0;
    text-align: center;
}

.useful-links-list li {
    margin-top: 15px;
    font-size: 1rem;
}

.contact-info-list {
    margin-top: 30px;
}

.contact-info-list li{
    margin-top: 5px;
    color: #555;
    font-size: 1rem;
    list-style-type: none
}

.slide-caption{
    text-align: center;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.slide-caption h2 {
    font-size: 2rem;
}

.slide-caption p {
    font-size: 1rem;
}

.slide-img-container{
    height: auto;
    position: relative;
    max-height: 100vh; 
}

.slide-img-container img{
    height: auto;
    width: 100vw; 
}


.slide-img-attribution{
    font-size: 1rem;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.app-info-block{
    min-height: 200px;
    padding: 70px 70px;
}

.app-info-block-text{
    margin-top: 30px;
    font-size: 1rem;
}

.copyright-container{
    background-color: rgba(0, 60, 105, 1);
}

.copyright-container .link-spacing{
    color: white;
    font-size: 0.9rem;
}

.app-footer-arches-link{
    color: white;
    font-size: 0.9rem;
}